@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500;700&family=Raleway:wght@100;300;400&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: 'Exo 2', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#preloder{
    background: white url('../images/preloder.gif') no-repeat center center;
    background-size: 450px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}