<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDM</title>
    <link rel="icon" href="images/golo.png" type="image/icon type">

    <link rel="stylesheet" href="style/public.css">
</head>
<body>

    <%- include('./navBar') %>

    <%- body %>

</body>
</html>