<%- layout('./boilerplate') %>

<link rel="stylesheet" href="../style/home.css">

<section id="nissanR34" class="open">
    <div class="container" style="background-image:url('../images/nissan r34-1.jpg')">
        <div class="items">
            <div class="top">
                <h1>Nissan r34</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color:rgba(52, 58, 64, .8);color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="lancerEX">
    <div class="container" style="background-image:url('../images/mitsubishi lancer ex-5.jpg')">
        <div class="items">
            <div class="top">
                <h1>Mitsubishi Lancer Evolution X</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="supraMK4">
    <div class="container" style="background-image:url('../images/supra mk4-5.jpg')">
        <div class="items">
            <div class="top">
                <h1>Supra mk4</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="mazdaRX7">
    <div class="container" style="background-image:url('../images/mazda rx7-5.jpg')">
        <div class="items">
            <div class="top">
                <h1>Mazda rx7</h1>
                <a href="#">Schedual a Demo Drive</a>
            </div>
            <div class="buttom">
                <button style="background-color: rgba(52, 58, 64, .8); color: white;">Inventory</button>
                <button style="background-color: rgba(229, 229, 229, .8);color: black;">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="accessories">
    <div class="container" style="background-image: url('../images/accessories.png'); background-size: 350px;">
        <div class="items">
            <div class="top">
                <h1>Accessories</h1>
            </div>
            <!-- <img src= alt=""> -->
            <div class="buttom">
                <button style="background-color: black; color: white;">Shop Now</button>
            </div>
        </div>
    </div>
</section>

<script src="../js/screenJs.js"></script>